{% extends "app/layout.html" %}

{% block pagecontent %}

    <div class="container-xl">
        <div class="col-xs-12">
            <h1 class="main-heading"> {{title}} </h1>
            <h2>{{ message }}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec odio et purus tincidunt posuere eget sit amet risus. Suspendisse vel mauris ac felis rutrum luctus in eu mauris. In eleifend finibus porttitor. Nulla faucibus mauris purus, sed eleifend risus auctor ut. Suspendisse accumsan nulla libero, vel placerat erat commodo et. Aliquam dapibus malesuada diam. Curabitur eget ex ligula. Sed rhoncus auctor libero non eleifend. Phasellus odio dui, cursus sed tempus et, luctus ut metus. Praesent at tempor sapien, non sagittis velit. Morbi ornare cursus nibh facilisis laoreet. Donec imperdiet vel magna non posuere. Morbi lacinia felis vitae sodales mattis. Nulla imperdiet dolor nec nisi fringilla, euismod consectetur orci molestie.

Vestibulum lacinia iaculis ante nec dignissim. Aenean eu commodo massa, nec porta nisl. Suspendisse eu felis auctor, aliquet felis nec, porttitor est. Donec venenatis malesuada porta. Sed egestas luctus pretium. Vivamus non sapien porttitor, bibendum tortor eget, sodales turpis. Morbi quis eros quam. Vestibulum dolor odio, congue in dolor eu, ornare malesuada magna. Mauris ultricies, ligula et vestibulum cursus, urna leo ultrices lorem, et blandit arcu ex sit amet diam. Praesent accumsan magna lorem, sed pharetra sem placerat a. Mauris dui quam, condimentum et vehicula et, eleifend ac nisl. Etiam at tellus in ipsum fermentum consectetur eget auctor libero. Vivamus sit amet luctus urna. Sed fermentum consequat dui ac vulputate.

Vivamus scelerisque vestibulum elit sed interdum. Aliquam et lectus aliquet, sodales est a, sagittis neque. Duis id finibus purus. Phasellus rhoncus dolor nec semper posuere. Integer quis facilisis quam. Suspendisse a mi est. Nullam at mi non justo mattis varius mollis ac turpis.

Nullam semper posuere nisl, in efficitur tellus imperdiet at. Pellentesque consectetur, sem non cursus viverra, dui sem sodales metus, in luctus tortor mi non felis. Maecenas ultricies condimentum nibh vitae tristique. Nullam et orci eget sapien mattis suscipit id vitae eros. Duis dictum tellus et ipsum posuere finibus. Cras id urna ac urna ultrices lacinia non vitae leo. Praesent cursus ante nec tortor vehicula, nec lobortis augue pharetra. Quisque ac justo aliquam, aliquam felis quis, vulputate erat. Aliquam sit amet nisl lacinia, aliquam sapien euismod, blandit sapien. Curabitur varius vitae mi non lobortis. Proin ultricies leo odio, eu cursus nibh sagittis vel. Praesent eu nisl vitae est congue semper cursus nec ex.

Duis risus mauris, lacinia et condimentum eget, tempor vitae leo. Vestibulum sit amet venenatis tortor, vitae venenatis sem. Praesent eleifend lectus erat, feugiat commodo velit feugiat et. Mauris risus massa, hendrerit id est sed, pulvinar cursus turpis. Quisque cursus egestas ipsum quis ornare. Morbi nunc elit, maximus et tempus vel, aliquam et nisl. Nulla facilisi. Praesent ultrices laoreet nisi ut maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris ut arcu a augue porta gravida. Vivamus sollicitudin auctor nibh eu rhoncus. Morbi scelerisque leo sed nunc tincidunt, in dictum sem auctor. Nullam risus sapien, efficitur non lobortis at, blandit ac neque.</p>
        
        </div>
    </div>

{% endblock %}

