{% extends "app/layout.html" %}

{% block pagecontent %}

    <div class="container-xl">
        <div class="col-xs-12">
            <h1 class="main-heading"> {{title}} </h1>
            <h3>{{ message }}</h3>

            <p address>
                141 Queen Street,<br />
                Brisbane City QLD 4000<br />
                <abbr title="Phone">Phone:</abbr>
                <a href="tel:(07) 3292 1300">(07) 3292 1300</a>
            </p>

            <p address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">helpdesk@didata.com.au</a><br />
                <strong>Administration:</strong> <a href="mailto:Marketing@example.com">admin@didata.com.au</a>
            </p>
        </div>
    </div>

{% endblock %}
