{#{% extends "app/layout.html" %}#}

{% block header %}
    <link rel="stylesheet" href="https://basecoat.dimensiondata.com/css/dd.basecoat.css">
    <link rel="stylesheet" href="https://basecoat.dimensiondata.com/examples/css/minimal-layout.css">
    <link rel="stylesheet" href="https://basecoat.dimensiondata.com/examples/css/login-register.css">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login/Registration</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i,900,900i">
    <meta name="application-name" content="Dimension Data">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://basecoat.cdn.dimensiondata.com/latest/img/favicon/apple-touch-icon-144x144.png" />
    <link rel="icon" type="image/png" href="https://basecoat.cdn.dimensiondata.com/latest/img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://basecoat.cdn.dimensiondata.com/latest/img/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://basecoat.cdn.dimensiondata.com/latest/img/favicon/favicon-128.png" sizes="128x128" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="https://basecoat.cdn.dimensiondata.com/latest/img/favicon/mstile-144x144.png" />
{% endblock %}

{% block pagecontent %}
    <div class="minimal-layout">
    
      <header class="header">
        <div class="horizontal-logo horizontal-logo-solid">
          <a href="#" title="Dimension Data" class="logo-image">
            <img src="https://basecoat.dimensiondata.com/img/logo-white.svg" alt="Dimension Data Logo">
          </a>
          <div class="logo-title three-lines">
            <span>login<br>register</span>
          </div>
        </div>
      </header>
    
      <div class="page-wrapper">
    
    
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 col-lg-7 col-center">
    
              <div class="panel" data-panel="loginOrRegister">
                <div class="panel-heading">
                  <h1 class="text-center">Login or Sign-up</h1>
                </div>
                <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui tempora odit aut voluptas quis magni eius.</p>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <button class="btn btn-block btn-secondary bottom-gutter" data-goto-panel="register">Sign-up</button>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <button class="btn btn-block btn-primary bottom-gutter" data-goto-panel="login">Login</button>
                    </div>
                  </div>
                  <p class="no-margin-bottom">Need help? <a href="#">Contact Dimension Data</a>.</p>
                </div>
              </div>
    
              <div class="panel hidden" data-panel="register">
                <div class="panel-heading text-center">
                  <h1 class="no-margin-bottom">Sign-up</h1>
                  Looking for <a href="#" data-goto-panel="login">Login</a>?
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <form data-validation-example>
                        <div class="row">
                          <div class="col-xs-12 col-md-6">
                            <div class="form-group has-icon">
                              <label class="control-label" for="signUpFirstName">First name</label>
                              <input type="text" placeholder="Enter your first name" class="form-control" id="signUpFirstName" required>
                              <span class="form-control-feedback fa-user"></span>
                            </div>
                          </div>
                          <div class="col-xs-12 col-md-6">
                            <div class="form-group has-icon">
                              <label class="control-label" for="signUpLastName">Last name</label>
                              <input type="text" placeholder="Enter your last name" class="form-control" id="signUpLastName" required>
                              <span class="form-control-feedback fa-user"></span>
                            </div>
                          </div>
                          <div class="col-xs-12">
                            <div class="form-group has-icon">
                              <label class="control-label" for="signUpEmail">Email</label>
                              <input type="email" placeholder="Enter your email address" class="form-control" id="signUpEmail" required>
                              <span class="form-control-feedback fa-envelope-o"></span>
                            </div>
                          </div>
                          <div class="col-xs-12">
                            <div class="form-group">
                              <div class="checkbox">
                                <input type="checkbox" id="signUpTermsAndConditions" required>
                                <label for="signUpTermsAndConditions">I have read the <a href="#">Terms & Conditions</a>.</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12">
                            <button type="submit" class="btn btn-block btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="panel hidden" data-panel="login">
                <div class="panel-heading text-center">
                  <h1 class="no-margin-bottom">Login</h1>
                  Looking for <a href="#" data-goto-panel="register">Sign-up</a>?
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <form data-validation-example>
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="form-group has-icon">
                              <label class="control-label" for="loginUsername">Username or Email</label>
                              <input type="text" placeholder="Enter your username or email address" class="form-control" id="loginUsername" required>
                              <span class="form-control-feedback fa-user"></span>
                            </div>
                          </div>
                          <div class="col-xs-12">
                            <div class="form-group has-icon has-password-toggle">
                              <label class="control-label" for="loginPassword">Password</label>
                              <input type="password" placeholder="Enter your password" class="form-control" id="loginPassword" required>
                              <span class="password-toggle"></span>
                              <span class="form-control-feedback fa-lock"></span>
                            </div>
                          </div>
                          <div class="col-xs-12">
                            <div class="form-group">
                              <div class="responsive-recaptcha">
                                <script src='https://www.google.com/recaptcha/api.js'></script> <!-- script should really be in the head tag -->
                                <div class="g-recaptcha" data-sitekey="6LdOWywUAAAAAA-zc49Cq3xOBy_m35VsrvZvwRog" data-callback="recaptchaCallback" expired-callback="recaptchaExpiredCallback"></div>
                                <input type="hidden" name="captchaDummyField" required>
                                <p class="help-block" data-validation-error>Please complete the captcha</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 text-center">
                            <button type="submit" class="btn btn-block btn-primary bottom-gutter">Submit</button>
                            <a href="#" data-goto-panel="resetPassword">Can't login?</a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="panel hidden" data-panel="resetPassword">
                <div class="panel-heading text-center">
                  <h1 class="no-margin-bottom">Reset password</h1>
                  Looking for <a href="#" data-goto-panel="register">Login</a>?
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <form data-validation-example>
                        <div class="row">
                          <div class="col-xs-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui tempora odit aut voluptas quis magni eius.</p>
                            <div class="form-group has-icon">
                              <label class="control-label" for="loginUsername">Username or Email</label>
                              <input type="text" placeholder="Enter your username or email address" class="form-control" id="loginUsername" required>
                              <span class="form-control-feedback fa-user"></span>
                            </div>
                          </div>
                          <div class="col-xs-12">
                            <button type="submit" class="btn btn-block btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
        </div>
    
      </div>
 
{% endblock %}

{% block footer %}
      <footer class="footer">
        <div class="row">
          <div class="col-xs-12">
            <p class="footer-copyright">COPYRIGHT &copy; 2017. IFB398 Team 8.</p>
            <ul class="list-inline footer-links">
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms of use</a></li>
              <li><a href="#">Cookie policy</a></li>
            </ul>
          </div>
        </div>
      </footer>
     </div>
{% endblock %}

{% block scripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://basecoat.dimensiondata.com/js/dd.basecoat.js"></script>
    <script src="https://basecoat.dimensiondata.com/examples/js/example-validation.js"></script>
    <script src="https://basecoat.dimensiondata.com/examples/js/login-register.js"></script>
    <script src="https://basecoat.dimensiondata.com/js/outdated-browser.js"></script>

{% endblock %}